extends layout

block content
  body
    div.container(style='margin-top:70px')
      div.row
        div.col-lg-12
          h1 Treat Yourself To A Nice Book
          p Search for books by title or subject
          
          #form
            form(action = "/books", method="POST", name ="search-books")
                  div.input
                      input(type="text", name="query")
                  div.actions
                      input.btn.btn-info(type='submit', value='Search')
          p #{resultsLength}

    div.container
          ul.list-group
          for item in results
            li.list-group-item: a(href=item.previewLink, target="_blank") #{item.title}
