extends layout

block content
  #main-box
    h1= title
    p Search for books
    #form
      form(action = "/books", method="POST")
            div.input
                span.label Book Title
                input(type="text", name="query")
            div.actions
                input(type="submit", value="Search")

    p #{resultsLength}
    #resultList
      for item in results
        li=item