extends layout

block content
  h1= title
  p Search for books
  form(name="add-estimation", method="post")
        div.input
            span.label Book Title 
            input(type="text", name="title")
        div.actions
            input(type="submit", value="Search")
