link(rel="stylesheet", href="/stylesheets/video.css", type="text/css")

.inline-block
    div(class="InsideContent")
        img(src=item.snippet.thumbnails.default.url)
        p #{item.snippet.title}