extends layout

block content
  br
  br
  br
  if videoURL
    div(id="EmbeddedYoutubeVideo")
      iframe(width='1067', height='600', src=videoURL, frameborder="0", allowfullscreen='allowfullscreen')
  div(id="VideoList")
    for item in videoList
        include video.pug
  br
  br
  br
